.content {
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
  position: relative;
  top: 10px;
  h1 {
    font-size: 22px;
    margin: 39px 0 10px;
    text-align: center;
  }
}
.meta {
  font-size: 15px;
  display: block;
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
}
.featured {
  max-height: 800px;
  max-width: 1000px;
  margin-bottom: 25px;
}
@media(max-width: 800px){
  .content {
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  position: relative;
  top: 10px;
}
}