$primaryColor: #3f3844;
$secondaryColor: #006ce5;
$thirdColor: #202020; 
$mainWhite: white;

/* global.css */



* {
  box-sizing: border-box;
}
body {
  color: $primaryColor;
  font-size: 100%;
  margin: 0;
  line-height: 1.4283;
  font-family:  "Helvetica Neue", "Segoe UI", Roboto, sans-serif;
}

p {
  font-size:18px;
  color: #111111;
}
h1,
h2,
h3 {
  font-weight: 400;
  color: $thirdColor;
} 
// a {
//   text-decoration: none;
//   color: #006ce5;
//   border-bottom: 2px solid #006ce5;
// }
a > h2 {
  color: #006ce5;
  text-decoration: none;
  border-bottom: 2px solid #006ce5;
  display: contents;
}
h3 > a {
  text-decoration: none;
  color: #006ce5;
  border-bottom: 2px solid #006ce5;
  font-size: 18px;
}
p > a {
  text-decoration: none;
  color: #006ce5;
  border-bottom: 2px solid #006ce5;
  font-size: 18px;
}
a:hover {
  text-decoration: none;
  color: #006ce5;
  border-bottom: 2px solid #006ce5;
}
a:active {
  text-decoration: none;
  border-bottom: 2px solid #006ce5;
}
.htools {
  text-decoration: none;
  border-bottom: 2px solid black;
  display: inline-block;
  margin-bottom: -7px;
}
.link1 {
  margin-left: 0px !important;
}
.github1 {
  margin-left: 0px !important;
}