@media (min-width: 1000px){
    .davidbeach {
       border-radius: 50%;
       padding-top: 40px;
       width:343px;
    }
}
@media (min-width: 500px) and (max-width:999px){
    .davidbeach {
       border-radius: 50%;
       padding-top: 40px;
       width: 400px;
    }
}
.davidbeach {
    border-radius: 50%;
    padding-top: 40px;
    width:343px !important;
 }
 .genomediv {
    height: 82px;
    overflow: scroll;
}
 .genome {
     height: 20px;
     overflow: scroll;
 }
