a.dp  {
  position: relative;
  left: -20px;
  font-size: 24px !important;
  bottom: 7px;
  font-family: serif;
}
.brand {
  display: block;
  position: relative;
  top: -6px;
  text-align: center;
}
.brand > a {
  font-size: 30px;
  color: black;
  font-family: serif;
  font-weight:700;
  text-decoration: none;
  border-bottom: none;
}
.header {
  height: 49px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 99999;
}
.active-menu-item {
    border-bottom: 2px solid black !important;
    opacity: 1;
    color: black;
  }
.hero-content {
  position: relative;
  top: 2%;
  margin: 0;
  left: -16%;
  text-align: center;
  width: 100%;
  text-transform: capitalize;
  display: none;
}
.brand > li > a {
  margin: 0;
  padding: 0 0 10px;
  font-size: 25px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2.5px;
  a {
    position: relative;
    top: 9px;
    color: #3f3844;
    left: -35px;
    text-decoration: none;
  }
  a:hover {
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
  }
  a:active {
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
  }
}
.dropdown  {
  display: inline-block;
}
.fa-chevron-down {
  position: absolute;
  bottom: 18px;
  left: 54px;
  height: 16px;
}
.dropdownList {
  display: none;
  position: absolute;
  left: -29px;
  top: 34px;
  height: 78px;
  list-style: none;
  background: #f2f2f2;
  text-align: right;
  list-style: none;
  padding: 0px 0px;
  border-radius: 7px;
}
.dropdownList li {
  top:10px;
  position: relative;
}
.dropdown:hover  .dropdownList {
  display: block;
  position: absolute;
  left: -46px;
  top: 35px;
  width: 129px;
  height: 77px;
  list-style: none;
  background: #f2f2f2;
  text-align: right;
  list-style: none;
  padding: 0px 0px;
  border-radius: 7px;
}
@media(max-width: 1100px) and (min-width:501px){
  .brand > li > a {
    display: none;
    position: relative;
    top: 3px;
    color: #3f3844;
    left: -142px;
    text-decoration: none;
  
    a {
      color: #3f3844;
      position: relative;
      top: 6px;
      // color: gray;
      left: -32px;
      text-decoration: none;
    }
    a:hover {
      border-bottom: 2px solid black;
      text-decoration: none;
      color: black;
    }
    a:active {
      border-bottom: 2px solid black;
      text-decoration: none;
      color: black;
    }
  }
}
.description {
  margin: 0;
  padding: 0 0 10px;
  position: relative;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 3.5px;
  color: #000;
  top: 150px;
  left: 34%;
  display: none;
}

.nav-container {
  position: relative;
  top: -28px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.nav-list {
    margin: 0;
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    padding: 0;
    list-style: none;
    position: relative;
    top: -18px;
    font-size: 7px;
    justify-content: center;
    z-index: 10;

  li {
    letter-spacing: 0.05em;
    background: none;
    padding: 5px 7px 4px 0px;
    margin: 0px;
    position: relative;
    left: 0px;
    top: 20px;
  }

  a {
    text-transform: uppercase;
    color: #000;
    font-size: 16px;
    opacity: 0.8;
    font-weight:400;
    text-decoration: none;
  
    a:hover {
      border-bottom: 2px solid black;
      text-decoration: none;
      color: black;
    }
    a:active {
      border-bottom: 2px solid black;
      text-decoration: none;
      color: black;
    }}
    .dropdown  {
      display: inline-block;
    }
    
.fa-chevron-down {
      position: absolute;
      bottom: 18px;
      left: 54px;
      height: 16px;
    }
    .dropdownList {
      display: none;
      position: absolute;
      left: -34px;
      height: 89px;
      background: lightblue;
      list-style: none;
    }
    .dropdown:hover  .dropdownList {
      display: block;
      position: absolute;
      left: -46px;
      top: 35px;
      width: 129px;
      height: 77px;
      list-style: none;
      background: #f2f2f2;
      text-align: right;
      list-style: none;
      padding: 0px 0px;
      border-radius: 7px;
    }
}
@media (max-width:500px){
  .heroContent {
    display: block;
    position: relative;
  }
  .dp {
    left: -6px !important;
    font-size: 24px !important;
    bottom: 8px;
  }
  .brand {
    display: block;
    position: relative;
    top: -13px;
    text-align: center;
  }

  .brand > a {
    font-size: 22px;
    color: black;
    font-family: serif;
    font-weight:700;
    text-decoration: none;
    border-bottom: none;
  }

  .brand > a:active {
    border-bottom: 2px solid black;
  }

  .nav-container {
    position: relative;
    top: -6px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .nav-list {
    margin-left: 3px;
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    overflow-x: auto;
    height: 53px;
    list-style: none;
    position: relative;
    top: -37px;
    left: 2px;
    width: 100vw !important;
    font-size: 7px;
    z-index: 10;
    width: 100%;
    flex-flow: nowrap;
    overflow-y: hidden;

    li {
      letter-spacing: 0.05em;
      background: none;
      padding: 4px 7px 4px 0px;
      margin: 0px;
      position: relative;
      left: 23px;
      top: 20px;
    }
    a {
      text-transform: uppercase;
      color: #000;
      font-size: 16px;
      opacity: 0.8;
      font-weight:400;
      position: relative;
      left: -3px;
      text-decoration: none;
  }
  a:hover {
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
  }
  a:active {
    border-bottom: 2px solid black;
    text-decoration: none;
    color: black;
  }
  .dropdown  {
    display: inline-block;
  }
  
  .fa-chevron-down {
    position: absolute;
    bottom: 1px;
    left: 54px;
    height: 16px;
  }
  .dropdownList {
    display: none;
    position: absolute;
    left: -34px;
    height: 89px;
    background: #f2f2f2;
    list-style: none;
  }
  .dropdownList li {
    top:0px;
    position: relative;
  }
  .dropdown:hover  .dropdownList {
    display: block;
    position: absolute;
    left: -46px;
    top: 35px;
    width: 114px;
    height: auto;
    list-style: none;
    background: #f2f2f2;
    text-align: right;
    list-style: none;
    padding: 0px 0px;
    border-radius: 7px;
  }}
}

@media(min-width:800px){
.nav-list li {
    letter-spacing: 0.05em;
    background: none;
    padding: 5px 23px 4px 0px;
    margin: 0px;
    position: relative;
    left: 0%;
    top: 20px;
  
a {
  text-transform: uppercase;
  color: #000;
  // font-size: 16px;
  opacity: 0.8;
  font-weight:400;
  // position: relative;
  left: -3px;
  text-decoration: none;
  border-bottom: none;
}
a:hover {
  border-bottom: 2px solid black;
  text-decoration: none;
}
a:active {
  border-bottom: 2px solid black;
  text-decoration: none;
}}
.dropdown  {
  display: inline-block;
}

svg.fa-chevron-down {
  position: absolute !important;
  bottom: 18px !important;
  left: 54px !important;
  height: 16px !important;
}
.dropdownList {
  display: none;
  position: absolute;
  left: -34px;
  height: 89px;
  background: lightblue;
  list-style: none;
}
.dropdownList li {
  top:10px;
  position: relative;
}
.dropdown:hover  .dropdownList {
  display: block;
  position: absolute;
  left: -46px;
  top: 35px;
  width: 129px;
  height: 77px;
  list-style: none;
  background: #f2f2f2;
  text-align: right;
  list-style: none;
  padding: 0px 0px;
  border-radius: 7px;
}
}