.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 99%;
}
.content {
  flex-grow: 1;
}

.main-content {
  max-width: 750px;
  padding: 1rem 1rem 3rem;
  top: 11px;
  left: 19px;
  position: relative;
  margin: 0 auto;
}
.projetcsHeader {
  top: 26px;
  left: -24px;
  position: relative;
}
img.davidbeach {
  border-radius: 50%;
  padding-top: 40px;
}
@media(min-width:500px)and (max-width:1000px){
  .main-content {
    margin: 0 auto;
    max-width: 750px;
    padding: 1rem 1rem 1rem;
  }
  }
@media (max-width: 500px){
.main-content {
  margin: 0 auto;
  max-width: 750px;
  padding: 3rem 1rem 0rem;
  position: relative;
  top: -53px;
  left: 2px;
}
}